[Unit]
Description=LY-Route VPP DNS application namespaces
Requires=vpp.service ly-route-vpp-apply.service
PartOf=vpp.service
After=vpp.service ly-route-vpp-apply.service
Before=ly-route-dns-vpp-proxy.service ly-route-dns-vpp-proxy-v6.service

[Service]
Type=oneshot
EnvironmentFile=-/etc/ly-route/runtime.env
ExecStart=/usr/lib/ly-route/dns-vpp-v6-namespace-apply
RemainAfterExit=yes
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
