[Unit]
Description=Ly Route VPP operation apply
After=vpp.service ly-route-firstboot.service ly-route-runtime-check.service ly-route-vpp-session-enable.service ly-route-pppoe.target
Requires=vpp.service ly-route-firstboot.service ly-route-runtime-check.service ly-route-vpp-session-enable.service
Wants=ly-route-pppoe.target
BindsTo=vpp.service

[Service]
Type=oneshot
EnvironmentFile=-/etc/ly-route/runtime.env
EnvironmentFile=-/etc/ly-route/control-api.env
ExecStart=/usr/lib/ly-route/vpp-apply-default
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
